.heading{
width: 100%;
text-align: left;
}

.heading h3{
    display: inline;
    color: white;
}

.heading button{
    float: right;
    border: 2px dashed white;
    width: 100px;
    height: 30px;
    font-size: 15px;
    text-align: center;
}